                                                                                 .masthead {
                                                                                 text-align: center;
                                                                                 height: 650px;
                                                                                 margin-top: 70px;
                                                                                 color: #fff;
                                                                                 background-image: url("img/hogarventheader.jpg");
                                                                                 background-size: cover;
                                                                                 background-position: center;
                                                                                 background-repeat: no-repeat;
                                                                             }
                                                                             
                                                                             @media (max-width: 844px) {
                                                                                 .masthead {
                                                                                     height: 350px;
                                                                                     background-size: cover;
                                                                                 }
                                                                             }
                                                                             
                                                                             @media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
                                                                                 .masthead {
                                                                                     height: 350px;
                                                                                     background-size: cover;
                                                                                 }