                                                                            .masthead {
                                                                            text-align: center;
                                                                            height: 650px;
                                                                            margin-top: 20px;
                                                                            color: #fff;
                                                                            background-image: url("img/hogarventheader.jpg");
                                                                            background-size: auto;
                                                                            background-position: center;
                                                                            background-repeat: no-repeat;
                                                                        }
                                                                        
                                                                        @media (min-width: 768px) {
                                                                            .masthead {
                                                                                padding-top: 17rem;
                                                                                padding-bottom: 12.5rem;
                                                                            }